################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/demo-backend/DemoBackend/obj
/demo-backend/DemoBackend/bin
/.vs
/demo-backend/.vs/DemoBackend
